@import "../../../../styles/_variables.scss";


.custom-container {
  width: 100%;
  padding-left: 5vw !important;
  padding-right: 5vw !important;

  @media (min-width: map-get($breakpoints, "md")) {
    padding-left: 5vw !important;
    padding-right: 5vw !important;
  }

  .custom-navbar {
    position: relative;
    margin: 0 auto;

    &::before {
      content: "";
      position: absolute;
      top: 0%; 
      left: 0;
      height: 1.5px;
      background-color: map-get($theme-colors, "blue");
      width: 0%;
      animation: drawLine 3s forwards ease-out;
      z-index: 2; 
      transform: translateY(-50%); 
      will-change: width; 
    }

    .navbar-nav {
      position: relative;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .nav-item {
        opacity: 0;
      }

      .nav-item-bio {
        display: none !important;
      
        @media (min-width: map-get($breakpoints, "md")) {
          display: block !important;
        }
      }
      

      .nav-link {
        color: map-get($theme-colors, "blue");
        text-transform: uppercase;
        padding-bottom: 0.5rem;
        position: relative;
        z-index: 1;
      }

      .nav-item-projects {
        animation: showTextProjets 1s forwards 0.1s;
      }
      .nav-item-studio {
        animation: showTextSW 1s forwards 0.7s;
      }
      .nav-item-bio {
        animation: showTextBio 1s forwards 1.5s;
      }
      .nav-item-contact {
        animation: showTextContact 1s forwards 2.5s;
      }
    }
  }
}

@keyframes drawLine {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes showTextProjets {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showTextSW {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showTextBio {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showTextContact {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
