<section id="studio-web" class="studio-web-presentation mt-md-13 py-md-12">
  <div class="background-sides"></div>

  <div class="row studio-web-section">
    <div class="studio-web-list">
      <div class="current-sections">
        <div class="design-section d-flex col-md-12 py-md-10">
          <div class="col-md-7 section-container design-container d-flex flex-column justify-content-center align-items-center"
               data-section="Conception et Design Web" 
               data-details="Webdesign - UI Design - UX Design - Responsive Design - Identité Visuelle - Charte Graphique - Création de Logo"
               #sectionContainer>
            <h3 class="text-slide mb-0">Conception et Design Web</h3>
            <div class="col-3 d-flex flex-column align-items-start px-md-4 py-md-5">
              <!--<span id="detailsText" class="mt-1 text-start">{{ currentSection.details }}</span>-->
            </div>
          </div>
          <div class="section-details-preview col-5 d-flex justify-content-center align-items-center" #sectionDetailsPreview>
            <div class="px-md-5" id="sectionDetails">
              Video
            </div>
          </div>
        </div>

        <!-- Développement Web et Mobile -->
        <div class="development-section d-flex col-md-12 py-md-10">
          <div class="col-md-7 section-container development-container d-flex flex-column text-center justify-content-center align-items-center"
              data-section="Développement Web et Mobile" 
              data-details="Sites Vitrine - Sites Institutionnels - E-commerce - Développement Sur-mesure - Angular 18 - WordPress Headless - WordPress Personnalisé - Shopify - Applications Web - Mobile iOS/Android/Windows - WebApps - HTML5/CSS3 - PHP/MySQL - JavaScript/jQuery/AJAX/XML - API GoogleMaps, Facebook, Twitter, YouTube - Modélisation de Base de Données"
              #sectionContainer>
            <h3 class="text-slide mb-0">Developpement Web et Mobile</h3>
            <div class="col-3 d-flex flex-column align-items-start px-md-4 py-md-5">
              <!--<span id="detailsText" class="mt-1 text-start">{{ currentSection.details }}</span>-->
            </div>
          </div>
          <div class="section-details-preview col-5 d-flex justify-content-center align-items-center" #sectionDetailsPreview>
            <div class="px-md-5" id="sectionDetails">
              Video
            </div>
          </div>
        </div>

        <!-- Optimisation et Marketing Digital -->
        <div class="marketing-section d-flex col-md-12 py-md-10">
          <div class="col-md-7 section-container marketing-container d-flex flex-column text-center justify-content-center align-items-center"
              data-section="Optimisation et Marketing Digital" 
              data-details="SEO - Community Management - Réseaux Sociaux - Emailing - Adaptation Mobile - Intégration HTML/CSS"
              #sectionContainer>
            <h3 class="text-slide mb-0">Optimisation et Marketing Digital</h3>
            <div class="col-3 d-flex flex-column align-items-start px-md-4 py-md-5">
              <!--<span id="detailsText" class="mt-1 text-start">{{ currentSection.details }}</span>-->
            </div>
          </div>
          <div class="section-details-preview col-5 d-flex justify-content-center align-items-center" #sectionDetailsPreview>
            <div class="px-md-5" id="sectionDetails">
              Video
            </div>
          </div>
        </div>

        <!-- Processus de Création et Lancement -->
        <div class="process-section d-flex col-md-12 py-md-10">
          <div class="col-md-7 section-container process-container d-flex flex-column text-center justify-content-center align-items-center"
              data-section="Processus de Création et Lancement" 
              data-details="Brief - Méthodologie - Ergonomie - Zoning - Maquettes Figma - Récupération de Contenus - Développement & Intégration - SEO - Tests de Serveur - Hébergement - Déploiement - mise en ligne"
              #sectionContainer>
            <h3 class="text-slide mb-0">Processus de Creation et Lancement</h3>
            <div class="col-3 d-flex flex-column align-items-start px-md-4 py-md-5">
              <!--<span id="detailsText" class="mt-1 text-start">{{ currentSection.details }}</span>-->
            </div>
          </div>
          <div class="section-details-preview col-5 d-flex justify-content-center align-items-center" #sectionDetailsPreview>
            <div class="px-md-5" id="sectionDetails">
              Video
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
