<section id="projects" class="project-presentation mt-md-2 py-md-12">
  <div class="background-sides"></div>

  <div class="row project-hover-container">
    <div class="col-12 col-md-6 projects-list ps-lg-20 py-lg-5 d-flex justify-content-center py-10">
      <div class="current-projects">
        <div class="projects-2024">
          <div *ngFor="let project of projects; let i = index">
            <div
              class="project-container text-slide d-flex justify-content-lg-end justify-content-sm-start align-items-center py-4"
              (click)="onProjectContainerClick(i)"
              (mouseenter)="onProjectHover(project, $event)"
              (mouseleave)="onProjectOut($event)"
            >
              <h5 class="mb-0">{{ project.name }}</h5>
              <span class="date ms-2">{{ project.year }}</span>
            </div>

            <div
              *ngIf="isMediaPreviewVisible(i)"
              class="media-preview-mobile media-preview-mobile-{{ i }}"
              [ngClass]="{ active: isMediaPreviewVisible(i) }"
              (click)="toggleMediaPreview(i)"
            >
              <div class="col-12 d-flex flex-column">
                <div class="col-12 media-box d-flex flex-wrap flex-column align-items-center media-gallery">
                  <div *ngFor="let media of getMediaSequence(project); let j = index" #mediaElement class="media-element">
                    <img
                      *ngIf="media.type === 'image'"
                      [src]="media.src"
                      class="img-fluid"
                      alt="Image du projet"
                      />
                      <video
                      *ngIf="media.type === 'video'"
                      autoplay
                      muted
                      playsinline
                      loop
                      preload="auto"
                      class="img-fluid"
                      >
                      <source [src]="media.src" type="video/mp4" />
                      Votre navigateur ne supporte pas la balise vidéo.
                  </video>
                  </div>
                </div>

                <div class="project-details-container py-0">
                  <div class="col-12 project-details row text-center py-0">
                    <div class="col-12 col-sm-4 d-flex flex-column align-items-start px-sm-4">
                      <p class="mb-0"><strong>Le Projet</strong></p>
                      <span class="mt-1 text-start">{{ project.project }}</span>
                    </div>
                    <div class="col-12 col-sm-4 d-flex flex-column align-items-start px-sm-4">
                      <p class="mb-0"><strong>Mes Missions</strong></p>
                      <span class="mt-1 text-start">{{ project.role }}</span>
                    </div>
                    <div class="col-12 col-sm-4 d-flex flex-column align-items-start px-sm-4">
                      <p class="mb-0"><strong>Les Stacks</strong></p>
                      <span class="mt-1 text-start">{{ project.stacks }}</span>
                    </div>
                  </div>

                  <div class="col-12 project-details row text-center py-2-md py-0">
                    <div class="col-12 d-flex flex-column align-items-start px-sm-4">
                      <p class="mb-0"><strong>Description</strong></p>
                      <span class="mt-1 text-start">{{ project.description }}</span>
                    </div>
                  </div>

                  <div class="d-flex px-3 align-items-baseline py-3">
                    <p class="url text-start" (click)="openProjectLink(project)">{{ project.url }}</p>
                    <button class="btn align-self-baseline open-project-button" (click)="openProjectLink(project)">
                        <span class="material-symbols-outlined">open_in_new</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 media-preview">
      <div class="col-12 d-flex flex-column" [ngClass]="{ invisible: !isHovered }">
        <div class="col-12 media-box d-flex flex-wrap flex-column align-items-center py-md-14 media-gallery">
          <div *ngFor="let media of mediaSequence; let j = index" #mediaElement class="media-element">
            <img
              *ngIf="media.type === 'image'"
              [src]="media.src"
              class="img-fluid"
              alt="Image du projet"
            />
            <video
              *ngIf="media.type === 'video'"
              autoplay
              muted
              playsinline
              loop
              preload="auto"
              class="img-fluid"
              >
              <source [src]="media.src" type="video/mp4" />
              Votre navigateur ne supporte pas la balise vidéo.
            </video>
          </div>
        </div>

        <div class="col-12 project-details row text-center mt-md-9">
          <div class="col-12 col-md-4 d-flex flex-column align-items-start px-md-4">
            <p class="mb-0"><strong>Le Projet</strong></p>
            <span class="mt-1 text-start">{{ currentProject?.project }}</span>
          </div>
          <div class="col-12 col-md-4 d-flex flex-column align-items-start px-md-4">
            <p class="mb-0"><strong>Mes Missions</strong></p>
            <span class="mt-1 text-start">{{ currentProject?.role }}</span>
          </div>
          <div class="col-12 col-md-4 d-flex flex-column align-items-start px-md-4">
            <p class="mb-0"><strong>Les Stacks</strong></p>
            <span class="mt-1 text-start">{{ currentProject?.stacks }}</span>
          </div>
        </div>
        
        <div class="col-12 project-details row text-center py-3">
          <div class="col-12 d-flex flex-column align-items-start px-sm-4">
            <p class="mb-0"><strong>Description</strong></p>
            <span class="mt-1 text-start">{{ currentProject?.description }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
