<section id="projects" class="project-presentation mt-md-13 py-md-14">
  <div class="background-sides"></div>

  <div class="row project-hover-container">
    <div class="col-md-6 projects-list">
      <div class="current-projects">
        <div class="projects-2024">
          <div *ngFor="let project of projects"
               class="project-container d-flex justify-content-end align-items-baseline py-4"
               (mouseover)="onProjectHover(project, $event)"
               (mouseout)="onProjectOut($event)">
            <h5 class="text-slide mb-0">{{ project.name }}</h5>
            <span class="text-slide date ms-2">{{ project.year }}</span>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-md-6 media-preview">
      <div class="col-12 d-flex flex-column" [ngClass]="{ 'invisible': !isHovered }">
        <div class="col-10 media-box d-flex flex-wrap flex-column align-items-center py-md-14 media-gallery">
          <div *ngFor="let media of mediaSequence; let i = index" #mediaElement class="media-element">
            <img
              *ngIf="media.type === 'image'"
              [src]="media.src"
              class="img-fluid"
              alt="Image du projet"
            />
            <video
              *ngIf="media.type === 'video'"
              autoplay
              muted
              playsinline
              loop
              class="img-fluid"
            >
              <source [src]="media.src" type="video/mp4" />
              Votre navigateur ne supporte pas la balise vidéo.
            </video>
          </div>
        </div>

        <div class="col-12 project-details row text-center mt-md-8">
          <div class="col-4 d-flex flex-column align-items-start px-md-4">
            <p class="mb-0"><strong>Projet</strong></p>
            <span class="mt-1 text-start">{{ currentProject?.project }}</span>
          </div>
          <div class="col-4 d-flex flex-column align-items-start px-md-4">
            <p class="mb-0"><strong>Rôle</strong></p>
            <span class="mt-1 text-start">{{ currentProject?.role }}</span>
          </div>
          <div class="col-4 d-flex flex-column align-items-start px-md-4">
            <p class="mb-0"><strong>Stacks</strong></p>
            <span class="mt-1 text-start">{{ currentProject?.stacks }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
