<section id="projects" class="project-presentation mt-md-13 py-md-14">
  <div class="background-sides"></div>

  <div class="row project-hover-container">
    <div class="col-12 col-md-6 projects-list p-lg-4 p-5">
      <div class="current-projects">
        <div class="projects-2024">
          <div *ngFor="let project of projects; let i = index">
            <div
              class="project-container d-flex justify-content-lg-end justify-content-center align-items-center py-4"
              (click)="onProjectClick(project)"
              (mouseenter)="onProjectHover(project, $event)"
              (mouseleave)="onProjectOut($event)"
            >
              <h5 class="text-slide mb-0">{{ project.name }}</h5>
              <span class="text-slide date ms-2">{{ project.year }}</span>
              <span
              *ngIf="!isDesktop"
              class="text-slide material-symbols-outlined ms-2"
              (click)="toggleMediaPreview(i); $event.stopPropagation();"
            >
              keyboard_arrow_down
            </span>
            </div>

            <div
              *ngIf="isMediaPreviewVisible(i)"
              class="media-preview-mobile media-preview-mobile-{{ i }}"
              [ngClass]="{ active: isMediaPreviewVisible(i) }"
              (click)="toggleMediaPreview(i)"
            >
              <div class="col-12 d-flex flex-column h-100">
                <div class="col-12 media-box d-flex flex-wrap flex-column align-items-center media-gallery flex-grow-1">
                  <div *ngFor="let media of getMediaSequence(project); let j = index" #mediaElement class="media-element">
                    <img
                      *ngIf="media.type === 'image'"
                      [src]="media.src"
                      class="img-fluid"
                      alt="Image du projet"
                    />
                    <video
                      *ngIf="media.type === 'video'"
                      autoplay
                      muted
                      playsinline
                      loop
                      class="img-fluid"
                    >
                      <source [src]="media.src" type="video/mp4" />
                      Votre navigateur ne supporte pas la balise vidéo.
                    </video>
                  </div>
                </div>

                <div class="project-details-container">
                  <div class="col-12 project-details row text-center mt-4">
                    <div class="col-12 col-sm-4 d-flex flex-column align-items-start px-sm-4">
                      <p class="mb-0"><strong>Projet</strong></p>
                      <span class="mt-1 text-start">{{ project.project }}</span>
                    </div>
                    <div class="col-12 col-sm-4 d-flex flex-column align-items-start px-sm-4">
                      <p class="mb-0"><strong>Rôle</strong></p>
                      <span class="mt-1 text-start">{{ project.role }}</span>
                    </div>
                    <div class="col-12 col-sm-4 d-flex flex-column align-items-start px-sm-4">
                      <p class="mb-0"><strong>Stacks</strong></p>
                      <span class="mt-1 text-start">{{ project.stacks }}</span>
                    </div>
                  </div>

                  <button class="btn align-self-end open-project-button py-0" (click)="openProjectLink(project)">
                    <span class="material-symbols-outlined">open_in_new</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 media-preview">
      <div class="col-12 d-flex flex-column" [ngClass]="{ invisible: !isHovered }">
        <div class="col-12 media-box d-flex flex-wrap flex-column align-items-center py-md-14 media-gallery">
          <div *ngFor="let media of mediaSequence; let j = index" #mediaElement class="media-element">
            <img
              *ngIf="media.type === 'image'"
              [src]="media.src"
              class="img-fluid"
              alt="Image du projet"
            />
            <video
              *ngIf="media.type === 'video'"
              autoplay
              muted
              playsinline
              loop
              class="img-fluid"
            >
              <source [src]="media.src" type="video/mp4" />
              Votre navigateur ne supporte pas la balise vidéo.
            </video>
          </div>
        </div>

        <div class="col-12 project-details row text-center mt-md-8">
          <div class="col-12 col-md-4 d-flex flex-column align-items-start px-md-4">
            <p class="mb-0"><strong>Projet</strong></p>
            <span class="mt-1 text-start">{{ currentProject?.project }}</span>
          </div>
          <div class="col-12 col-md-4 d-flex flex-column align-items-start px-md-4">
            <p class="mb-0"><strong>Rôle</strong></p>
            <span class="mt-1 text-start">{{ currentProject?.role }}</span>
          </div>
          <div class="col-12 col-md-4 d-flex flex-column align-items-start px-md-4">
            <p class="mb-0"><strong>Stacks</strong></p>
            <span class="mt-1 text-start">{{ currentProject?.stacks }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
