@import "../../../../styles/_variables.scss";

.project-presentation {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  pointer-events: none;

  .background-sides {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: map-get($theme-colors, "black");
    z-index: 0;
    transform-origin: bottom;
    visibility: visible;
  }

  .text-slide {
    opacity: 0;
    transform: translateY(20px);
    color: map-get($theme-colors, "orange");
    transition: transform 0.3s ease, opacity 0.3s ease;

    &:hover {
      color: map-get($theme-colors, "beige") !important;
    }

    @media (max-width: map-get($breakpoints, "md")) {
      color: map-get($theme-colors, "orange") !important;
    }
  }

  .media-container {
    background-color: map-get($theme-colors, "black");
  }

  .project-hover-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
    z-index: 1;

    .projects-list {
      flex: 1;
    }

    .project-container {
      padding-bottom: 5rem;
      display: flex;
      align-items: baseline;
      padding: 1rem 0;
      cursor: pointer;
      transition: transform 0.3s ease, color 0.3s ease;

      &:hover {
        transform: scale(1.01);
      }

      .project-item {
        display: flex;
        align-items: baseline;
        white-space: nowrap;

        h5,
        .date {
          transition: transform 0.3s ease;
        }

        .offset-0 { transform: translateX(0); }
        .offset-1 { transform: translateX(-130px); }
        .offset-2 { transform: translateX(-70px); }
        .offset-3 { transform: translateX(-180px); }
        .offset-4 { transform: translateX(15px); }
        .offset-5 { transform: translateX(50px); }
      }

      .date {
        cursor: none !important;
        font-weight: 400;
        font-size: map-get($font-size, "30") !important;
      }

      .open-project-button {
        bottom: 1rem;
        right: 1rem;
        background: none;
        border: none;
        color: map-get($theme-colors, "orange");
        font-size: 24px;
      }

      @media (max-width: 426px) {
        .project-container {
          justify-content: center !important;
          align-items: center !important;
        }

        .project-item {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          white-space: nowrap;
          margin: 0;
          padding: 0;

          h5,
          .date {
            transform: translateX(0) !important;
            margin: 0;
          }

          .date {
            font-size: map-get($font-size, "20") !important;
          }
        }
      }

    }
  }

  .project-details-container {
    opacity: 1;
    transform: translateY(20px);
  }

  .project-details,
  .project-details p {
    color: map-get($theme-colors, "beige");
    font-size: map-get($font-size, "10");
    font-weight: 400;

    @media (max-width: map-get($breakpoints, "md")) {
      color: map-get($theme-colors, "beige");
    }
  }

  .project-details,
  .project-details span {
    color: map-get($theme-colors, "beige");
    font-size: map-get($font-size, "10");

    @media (max-width: map-get($breakpoints, "md")) {
      color: map-get($theme-colors, "beige");
    }
  }

  .project-details .col-4 {
    text-align: center;
    padding: 5px 0;
  }

  .project-details span {
    font-family: 'Open Sans';
    margin-top: 5px;
    white-space: normal;
    font-weight: 300;
    font-size: map-get($font-size, "10");
  }

  .invisible {
    visibility: hidden;
    height: 0;
  }

  .media-box {
    position: relative;
    width: 55vw;
    height: 55vh;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .media-element {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    display: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    img,
    video {
      width: auto;
      height: 100%;
      max-width: 100%;
      object-fit: contain;
      object-position: left top;
      display: block;
    }
  }

  .open-project-button {
    margin-top: auto;
    padding-top: 0;
    padding-bottom: 0;
  }

  .url {
    color: map-get($theme-colors, "beige");

    &:hover {
      color: map-get($theme-colors, "beige");
    }
  }

  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal  ;
    font-style: normal;
    font-size: 12px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    color: map-get($theme-colors, "beige");
  }

  .media-preview-mobile {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    width: 90vw;
    max-height: 90vh;
    padding: 1rem;
    background-color: map-get($theme-colors,"dark");
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: flex;
    flex-direction: column;

    &.active {
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, -50%) scale(1);
    }

    .media-box {
      width: 100%;
      max-height: 60vh;
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      background-color: map-get($theme-colors,"dark");
    }

    .media-element {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      display: none;

      img,
      video {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center;
        display: block;
      }
    }

    .project-details-container {
      background-color: map-get($theme-colors, "dark-grey");
      padding: 1rem;
    }

    .url {
      font-size: 14px !important;
      @media (max-width: 768px) {
        font-size: 14px;
      }
    }

    @media (max-width: 768px) {

      & {
        position: fixed;
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        height: 100%;
        max-height: none;
        padding: 0;
        border-radius: 0;
        flex-direction: column;
        opacity: 1;
        visibility: visible;
      }

      &.active {
        transform: none;
      }

      .media-box {
        width: 100%;
        height: 100%;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: map-get($theme-colors, "dark");
      }

      .media-element {
        position: relative;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
        display: none;

        img,
        video {
          width: 100%;
          height: auto;
          max-height: 100%;
          object-fit: contain;
          object-position: center;
          display: block;
        }
      }

      .project-container {
        cursor: pointer;
      }

      .project-details-container {
        background-color: map-get($theme-colors, "black");
        padding: 1rem;
        width: 100%;
      }

      .material-symbols-outlined {
        font-size: 18px;
      }
    }
  }

  @media (max-width: map-get($breakpoints, "sm")) {
    .media-box {
      width: 100%;
      height: auto;
      background-color: map-get($theme-colors, "black");
    }

    .media-element {
      position: relative;
      width: 100%;
      height: auto;
      opacity: 1 !important;
      display: block !important;

      img,
      video {
        width: 100%;
        height: auto;
        max-height: 100%;
        object-fit: contain;
        object-position: center;
        display: block;
      }
    }

    .project-details {
      flex-direction: column;
      align-items: flex-start;
      padding: 1rem;

    }

    .project-details .col-12 {
      margin-bottom: 1rem;
    }

    .material-symbols-outlined {
      font-size: 18px;
    }
  }

  @media (max-width: map-get($breakpoints, "md")) {

    .media-box {
      width: 100%;
      height: auto;
      background-color: map-get($theme-colors, "black");
    }

    .media-element {
      position: relative;
      width: 100%;
      height: auto;
      opacity: 1 !important;
      display: block !important;

      img,
      video {
        width: 100%;
        height: auto;
        max-height: 100%;
        object-fit: contain;
        object-position: center;
        display: block;
      }
    }

    .material-symbols-outlined {
      font-size: 24px;
    }
  }
}
