# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage, cache, and build output
coverage
*.lcov
.nyc_output
.cache
.parcel-cache
dist/
build/

# Dependency directories
node_modules/
.jspm_packages/
.bower_components/
.angular/cache/

# TypeScript and ESLint caches
*.tsbuildinfo
.eslintcache
.stylelintcache

# Optional files and directories
.npm
.node_repl_history
.env
.env.local
.yarn-integrity
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Framework-specific output
.next/
.nuxt/
.vuepress/
.docusaurus/
.serverless/
.fusebox/

# Ignorer les vidéos
*.mp4
*.avi
*.mov

# Ignorer toutes les images dans src/assets/img
src/assets/img/*
!src/assets/img/profile-photo/*
