@import "../../../../styles/_variables.scss";

.name-presentation {
  @media (max-width: 360px) {
    margin-top: map-get($spacers, "30");
  }

  .logo-letter {
    width: 2.4rem;
    height: auto;
    margin-right: 0.2rem;
    display: inline-block;
    vertical-align: baseline;
  }

  .first-name {
    margin-left: 1.5rem;
  }

  .ml11 {
    .text-wrapper {
      position: relative;
      display: inline-block;
      padding-top: 0.1em;
      margin-bottom: -2.5rem;
    }

    .letter {
      display: inline-block;
      opacity: 0;
      line-height: 1em;
    }

    .letters-1 .letter {
      opacity: 0;
    }

    .letters-2 {
      opacity: 0;
    }

    .letters-2 .letter {
      opacity: 0;
    }

    .first-line,
    .second-line {
      opacity: 0;
      position: absolute;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: map-get($theme-colors, "blue");
      transform-origin: 0 50%;

      &.line1 {
        bottom: 10px;
        left: 0;
        height: 140px;
        margin-left: 3px;
      }
    }

    .dot {
      opacity: 1;
      position: relative;
      transition: left 0.6s ease;
    }
  }

  .ml13 {
    line-height: 3rem;
    color: map-get($theme-colors, "black");

    .letters-3 {
      display: inline-block;
      opacity: 0;
    }

    .space {
      display: inline-block;
      width: 0.5rem;
    }
  }

  h1 {
    display: inline-block;
    position: relative;
    font-size: map-get($font-size, "140");
  }

  h2 {
    font-size: map-get($font-size, "40");
  }

  @media (min-width: map-get($breakpoints, "md")) {
    .logo-letter {
      width: 4.7rem;
      height: auto;
      margin-right: 0.2rem;
      display: inline-block;
      vertical-align: baseline;
    }

    .first-name {
      margin-left: 3.1rem;
    }

    .ml11 {
      .text-wrapper {
        margin-bottom: -0.5rem;
      }

      .first-line,
      .second-line {
        opacity: 0;
        position: absolute;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: map-get($theme-colors, "blue");
        transform-origin: 0 50%;

        &.line1 {
          bottom: 10px;
          left: 0;
          height: 140px;
          margin-left: 3px;
        }
      }
    }

    h1 {
      display: inline-block;
      position: relative;
      line-height: 8rem;
      font-size: map-get($font-size, "240");
    }

    h2 {
      font-size: map-get($font-size, "70");
    }
  }

  @media (min-width: map-get($breakpoints, "lg")) {
    .logo-letter {
      width: 5.3rem;
      height: auto;
      margin-right: 0.2rem;
      display: inline-block;
      vertical-align: baseline;
    }

    .first-name {
      margin-left: 3.4rem;
    }

    .ml11 {
      .text-wrapper {
        margin-bottom: 0.5rem;
      }

      .first-line,
      .second-line {
        opacity: 0;
        position: absolute;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: map-get($theme-colors, "blue");
        transform-origin: 0 50%;

        &.line1 {
          bottom: 10px;
          left: 0;
          height: 140px;
          margin-left: 3px;
        }
      }

      .dot {
        left: -35.7rem;
      }
    }

    h1 {
      display: inline-block;
      position: relative;
      line-height: 8rem;
      font-size: map-get($font-size, "260");
    }

    h2 {
      font-size: map-get($font-size, "90");
    }
  }
}
