@import "../../../../styles/_variables.scss";

.description-section {
  padding: 20px;
  margin: 10px auto;
  text-align: center;

  h2 {
    font-size: clamp(1.2rem, 4vw, 2rem);
    font-weight: bold;
    color: map-get($theme-colors, "beige");
    font-family: 'Parkinsans', sans-serif;
  }

  h3 {
    font-size: clamp(0.8rem, 3vw, 1.5rem);
    font-weight: normal;
    margin-top: 10px;
    text-transform: none !important;
    color: map-get($theme-colors, "beige");
    font-family: 'Parkinsans', sans-serif;
  }
}
