@import "./_variables.scss";
@import '../../node_modules/bootstrap/scss/bootstrap.scss'; 
@import '../assets/fonts/fonts.scss';

body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    -ms-overflow-style: none;    
    scrollbar-width: none;   
}

body::-webkit-scrollbar {
    display: none;
}

#app-container {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#page {
    flex: 1;
}

.page-content {
    overflow: hidden;
}

.container,
.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.app-root {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    color: map-get($theme-colors, "blue");
    background-color: map-get($theme-colors, "beige");
    margin: 0;
    padding: 0;
    min-height: 100%;
    overflow-x: hidden;

    h1 {
        font-family: 'Trap';
        font-weight: 600;
        font-style: normal;
        color: map-get($theme-colors, "blue");
    }

    h2 {
        font-family: 'Open Sans';
        font-weight: 300;
        font-style: normal;
        color: map-get($theme-colors, "blue");
        margin-top: -1rem;
    }

    h3 {
        font-family: 'Trap';
        font-weight: 600;
        font-style: normal;
        font-size: map-get($font-size, "90");
        text-transform: uppercase;
        color: map-get($theme-colors, "blue");
    }

    h4 {
        font-family: 'Open Sans';
        font-weight: 600;
        font-style: normal;
        font-size: map-get($font-size, "30");
        color: map-get($theme-colors, "blue");
    }

    h5 {
        font-family: 'Trap';
        font-weight: 500;
        font-style: normal;
        font-size: map-get($font-size, "90");
        color: map-get($theme-colors, "light-blue-2") !important;

        &:hover {
            color: map-get($theme-colors, "beige") !important;
        }

        @media (max-width: map-get($breakpoints, "md")) {
            color: map-get($theme-colors, "beige") !important;
        }
    }

    h6 {
        font-family: 'Open Sans';
        font-weight: normal;
        font-style: normal;
        font-size: map-get($font-size, "20");
        color: map-get($theme-colors, "blue");
    }

    ul, li, a, p {
        font-family: 'Open Sans';
        font-weight: 300;
        font-size: map-get($font-size, "20");
        font-style: normal;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
}
