@import "../../../../styles/_variables.scss";

.contact-section {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100vh; 
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;

  .background-contact {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: map-get($theme-colors, "black");
    z-index: 0; 
    transform-origin: bottom; 
    visibility: visible; 
  }

  .contact-links {
    text-align: center;
    position: relative;

    .contact-item {
      font-size: 4rem; 
      color: map-get($theme-colors, "blue"); 
      font-weight: 300;
      margin: 1rem 0; 
      opacity: 0; 
      transform: translateY(20px); 
      transition: transform 0.8s ease-out, opacity 0.8s ease-out; 
      z-index: 1;

      a {
        color: inherit; 
        font-size: map-get($font-size, "100");
        text-decoration: none; 

        &:hover {
          color: map-get($theme-colors, "light-blue"); 
        }
      }
    }
  }
}
