@import "../../../../styles/_variables.scss";

.contact-section {

  a {
    font-family: 'Trap', sans-serif !important;
  }
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;

  .background-contact {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: map-get($theme-colors, "dark-black");
    z-index: 0;
    transform-origin: bottom;
    visibility: visible;
  }

  .contact-links {
    text-align: center;
    position: relative;

    .contact-item {
      font-size: 3.5rem;
      color: map-get($theme-colors, "blue");
      font-weight: 300;
      margin: 1rem 0;
      opacity: 0;
      transform: translateY(20px);
      transition: transform 0.8s ease-out, opacity 0.8s ease-out, color 0.3s ease;
      z-index: 1;

      a {
        color: inherit;
        font-size: map-get($font-size, "100");
        text-decoration: none;
        position: relative;
        transition: color 0.3s ease;

        &:after {
          content: '';
          position: absolute;
          width: 0%;
          height: 2px;
          background-color: currentColor;
          left: 0;
          bottom: -5px;
          transition: width 0.3s ease;
        }

        &:hover::after {
          width: 100%;
        }
      }

      &.contact-email a:hover {
        color: map-get($theme-colors, "light-green");
      }

      &.contact-malt a:hover {
        color: map-get($theme-colors, "yellow");
      }

      &.contact-instagram a:hover {
        color: map-get($theme-colors, "orange");
      }

      &.contact-github a:hover {
        color: map-get($theme-colors, "light-blue");
      }
    }
  }
}

@media (max-width: map-get($breakpoints, "md")) {
  .contact-section .contact-links .contact-item {
    font-size: 4rem;

    a {
      font-size: map-get($font-size, "90") !important;
    }
  }
}

@media (max-width: map-get($breakpoints, "sm")) {
  .contact-section .contact-links .contact-item {
    font-size: 3.5rem;

    a {
      font-size: map-get($font-size, "75") !important;
    }
  }
}

@media (max-width: map-get($breakpoints, "xs")) {
  .contact-section .contact-links .contact-item {
    font-size: 3rem !important;

    a {
      font-size: map-get($font-size, "65") !important;
    }
  }
}
