<section id="contact" class="contact-section py-md-10 d-flex justify-content-center align-items-center">
  <div class="background-contact"></div>
  <div class="contact-links mt-5">
    <p class="contact-item">
      <a href="mailto:lucjaubert.dev@gmail.com" target="_blank">EMAIL</a>
    </p>
    <p class="contact-item">
      <a href="https://www.linkedin.com/in/luc-jaubert/" target="_blank" rel="noopener noreferrer">LINKEDIN</a>
    </p>
    <p class="contact-item">
      <a href="https://www.malt.fr/profile/lucjaubert" target="_blank" rel="noopener noreferrer">MALT</a>
    </p>
    <p class="contact-item">
      <a href="https://www.instagram.com/lucjaubert.dev/" target="_blank" rel="noopener noreferrer">INSTAGRAM</a>
    </p>
    <p class="contact-item pb-5">
      <a href="https://github.com/Lucjaubert" target="_blank" rel="noopener noreferrer">GITHUB</a>
    </p>
    
  </div>
</section>
