<section id="contact" class="contact-section py-md-7 d-flex justify-content-center align-items-center">
  <div class="background-contact"></div>
  <div class="contact-links mt-5">
    <p class="contact-item contact-email">
      <a href="mailto:lucjaubert.dev@gmail.com" target="_blank" class="email-link">
        <span class="default-text">EMAIL</span>
        <span class="hover-text">lucjaubert.dev&#64;gmail.com</span>
      </a>
    </p>
    <p class="contact-item contact-linkedin">
      <a href="https://www.linkedin.com/in/luc-jaubert/" target="_blank" rel="noopener noreferrer">LINKEDIN</a>
    </p>
    <p class="contact-item contact-malt">
      <a href="https://www.malt.fr/profile/lucjaubert" target="_blank" rel="noopener noreferrer">MALT</a>
    </p>
    <p class="contact-item contact-instagram">
      <a href="https://www.instagram.com/lucjaubert.developpeurweb/" target="_blank" rel="noopener noreferrer">INSTAGRAM</a>
    </p>
    <p class="contact-item contact-github">
      <a href="https://github.com/Lucjaubert" target="_blank" rel="noopener noreferrer">GITHUB</a>
    </p>
  </div>
</section>
