<div class="container">
  <section class="name-presentation mt-20">
    <div class="row">
      <div class="col text-left">
        <div class="first-name ml11">
          <span class="text-wrapper d-flex align-items-baseline">
            <img src="assets/img/letter-L.png" alt="L" class="logo-letter">
            <h1>
              <span class="first-line line1"></span>
              <span class="letters-1">uc</span>
            </h1>
          </span>
        </div>

        <div class="ml11">
          <span class="text-wrapper d-flex align-items-baseline">
            <h1 class="last-name">
              <span>J</span> 
            </h1>
            <h1>
              <span class="second-line line1"></span>
              <span class="letters-2">aubert</span> 
            </h1>
            <h1>
              <span class="dot">.</span>
            </h1>
          </span>
        </div>

        <h2 class="ml13">
          <span class="letters-3">D</span><span class="letters-3">é</span><span class="letters-3">v</span><span class="letters-3">e</span><span class="letters-3">l</span><span class="letters-3">o</span><span class="letters-3">p</span><span class="letters-3">p</span><span class="letters-3">e</span><span class="letters-3">u</span><span class="letters-3">r</span>
          <span class="space"> </span>
          <span class="letters-3">W</span><span class="letters-3">e</span><span class="letters-3">b</span>
          <span class="space"> </span>
          <span class="letters-3">F</span><span class="letters-3">r</span><span class="letters-3">e</span><span class="letters-3">e</span><span class="letters-3">l</span><span class="letters-3">a</span><span class="letters-3">n</span><span class="letters-3">c</span><span class="letters-3">e</span>
        </h2>      
      </div>
    </div>
  </section>
</div>

<section id="projects" class="project-presentation mt-md-14 py-10">
  <div class="row project-hover-container">
    <div class="col-md-6 projects-list">
      <div class="current-projects">
        <div class="projects-2024">
          <div class="project-container laiterie-container d-flex justify-content-end align-items-baseline"
               data-project="Fromagerie aux Capucins - Bordeaux" 
               data-role="Maquettes - Développement front-end" 
               data-stacks="WordPress Headless - Angular" 
               data-video="assets/videos/laiterie.mp4"
               (mouseenter)="onProjectHover($event)"
               (mouseleave)="onProjectOut()">
            <h5 class="mb-0">Laiterie Burdigala</h5>
            <span class="date ms-2">2024</span>
          </div>
          <div class="project-container limago-container d-flex justify-content-end align-items-baseline"
               data-project="Réflexologie Limago" 
               data-role="UX/UI - Développement front-end" 
               data-stacks="React - Node.js" 
               data-video="assets/videos/limago.mp4"
               (mouseenter)="onProjectHover($event)"
               (mouseleave)="onProjectOut()">
            <h5 class="mb-0">Limago Reflexo</h5>
            <span class="date ms-2">2024</span>
          </div>
          <div class="project-container anglais-container d-flex justify-content-end align-items-baseline"
               data-project="Cours d'anglais pour professionnels du vin" 
               data-role="Conception - Développement full stack" 
               data-stacks="Angular - Firebase" 
               data-video="assets/videos/anglais.mp4"
               (mouseenter)="onProjectHover($event)"
               (mouseleave)="onProjectOut()">
            <h5 class="mb-0">Anglais Du Vin</h5>
            <span class="date ms-2">2024</span>
          </div>
        </div>

        <div class="projects-2023">
          <div class="project-container maison-container d-flex justify-content-end align-items-baseline"
               data-project="Maison Ah-Rong" 
               data-role="Création de maquettes - Développement web" 
               data-stacks="Vue.js - Laravel" 
               data-video="assets/videos/maison.mp4"
               (mouseenter)="onProjectHover($event)"
               (mouseleave)="onProjectOut()">
            <h5 class="mb-0">Maison Ah-Rong</h5>
            <span class="date ms-2">2023</span>
          </div>
        </div>
      </div>
    </div>

    <!-- Colonne droite : Aperçu vidéo -->
    <div class="col-md-5 video-preview px-md-5" #videoPreview>
      <div class="col-12 d-flex flex-column">
        
        <div class="col-12 video-box d-flex justify-content-center py-md-5">
          <video controls class="img-fluid px-10" id="videoPlayer" #videoPlayer>
            <source [src]="currentProject.video" type="video/mp4" />
            Votre navigateur ne supporte pas la balise vidéo.
          </video>
        </div>

        <div class="col-12 project-details row text-center px-md-5" id="projectDetails">
          <div class="col-4 d-flex flex-column align-items-start px-md-2">
            <p class="mb-0"><strong>Projet</strong></p>
            <span id="projectText" class="mt-1 text-start">{{ currentProject.project }}</span>
          </div>
          
          <div class="col-4 d-flex flex-column align-items-start px-md-2">
            <p class="mb-0"><strong>Rôle</strong></p>
            <span id="roleText" class="mt-1 text-start">{{ currentProject.role }}</span>
          </div>
          
          <div class="col-4 d-flex flex-column align-items-start px-md-2">
            <p class="mb-0"><strong>Stacks</strong></p>
            <span id="stacksText" class="mt-1 text-start">{{ currentProject.stacks }}</span>
          </div>
        
        </div>
      </div>
    </div>


  </div>
</section>


<section id="bio" class="bio-section mt-md-14">
  <div class="col-md-6 col-12">
    <h3 class="text-left px-5 py-2">Bio</h3>
    <div class="custom-line"></div> 
    <div class="bio-content mt-7 px-5">
      <p>Je suis développeur web freelance basé à Bordeaux. Je me spécialise dans le développement front-end tout en possédant des compétences solides en back-end.</p>
      <p>Depuis la création de Wanted Community, une plateforme d'entraide sur Facebook forte de plus de 1,3 million de membres, jusqu'au lancement du Wanted Café, mon parcours a été guidé par un désir de bâtir des espaces qui favorisent la connexion, l'entraide et la collaboration.</p>
      <p>Aujourd'hui, mon métier est de concevoir des sites web.</p>
      <p>Mon expertise en développement web s'étend de la conception de maquettes à l'optimisation SEO, en passant par le développement et la maintenance de sites.</p>
      <p>Je travaille aussi en collaboration avec des agences de communication, je développe des sites qui non seulement répondent aux besoins spécifiques des clients, mais qui sont également robustes sur le plan technique et attrayants visuellement.</p>
      <p>Vous avez un projet ? Contactez-moi pour discuter de comment nous pouvons travailler ensemble pour développer une solution web adaptée à vos besoins.</p>
    </div>
  </div>
</section>

<section id="contact" class="contact-section mt-md-14">
  <div class="col-md-6 col-12">
    <h3 class="text-left px-5 py-2">Contact</h3>
    <div class="custom-line"></div>
    <div class="contact-content mt-4 px-5">
      <p class="py-1">
        <img src="assets/img/mail.png" alt="Mail Icon" class="icon-envelope">
        <a href="mailto:lucjaubert@gmail.com">lucjaubert&#64;gmail.com</a>
      </p>
      <p class="py-1">
        <img src="assets/img/phone.png" alt="Phone Icon" class="icon-phone">
        <a href="tel:+33760227855">+33 7 60 22 78 55</a>
      </p>
    </div>
  </div>
</section>  

<footer class="text-left mt-12 mb-4 px-5">
  <h6>&copy; 2024</h6>
</footer>
  

  





