@import "../../../styles/_variables.scss";

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 15px;

  .homepage-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.spacer {
  height: 280vh; 
}

