@import "../../../styles/_variables.scss";

.full-screen-container {
  height: 100vh; 
  display: flex;
  flex-direction: column;
}

.header-wrapper {
  flex: 0 0 auto; 
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px !important;
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: start; 

  .homepage-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: map-get($breakpoints, "sm")) {
  .container {
    padding: 0 15px;
  }
}

@media (min-width: map-get($breakpoints, "md")) {
  .container {
    padding: 0 15px;
  }
}

@media (min-width: map-get($breakpoints, "lg")) {
  .container {
    padding: 0 15px;
  }
}

