
<div class="full-screen-container">
  <div class="header-wrapper">
    <ng-container *ngComponentOutlet="headerComponent"></ng-container>
  </div>
  <div class="container">
    <ng-container *ngComponentOutlet="namePresentationComponent"></ng-container>
  </div>
</div>

<ng-container *ngComponentOutlet="projectsComponent"></ng-container>
<ng-container *ngComponentOutlet="bioComponent"></ng-container>
<div class="spacer"></div>
<ng-container *ngComponentOutlet="studioWebComponent"></ng-container>
<ng-container *ngComponentOutlet="contactComponent"></ng-container>
<ng-container *ngComponentOutlet="footerComponent"></ng-container>


















