@import "../../../../styles/_variables.scss";

.footer-section {
  background-color: map-get($theme-colors, "blue-2");

  .copyright {
    font-size: 1rem;
    color: map-get($theme-colors, "light-blue");
    font-weight: 300;
    margin-top: 2rem;
    opacity: 0; 
    transform: translateY(20px);
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
  }

  &.animate {
    .contact-item,
    .copyright {
      opacity: 1;
      transform: translateY(0); 
    }
  }
}
