@import "../../../../styles/_variables.scss";

.bio-section {
  .bio-content {
    p {
      font-size: map-get($font-size, "20");
      font-weight: 300;
      opacity: 0;
      transform: translateY(10px);
      transition: transform 0.8s ease-out, opacity 0.8s ease-out;
      color: map-get($theme-colors, "beige");

      @media (min-width: map-get($breakpoints, "md")) {
        font-size: map-get($font-size, "30");
      }

      @media (min-width: map-get($breakpoints, "lg")) {
        font-size: map-get($font-size, "40");
      }

      a {
        font-size: inherit;
        text-decoration: none;
        font-weight: 400;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: -2px;
          width: 100%;
          height: 2px;
          background-color: currentColor;
        }
      }

      .highlight-yellow {
        color: map-get($theme-colors, "yellow");

        a {
          color: map-get($theme-colors, "yellow");
        }
      }

      .highlight-orange {
        color: map-get($theme-colors, "orange");

        a {
          color: map-get($theme-colors, "orange");
        }
      }

      .highlight-light-green {
        color: map-get($theme-colors, "light-green");

        a {
          color: map-get($theme-colors, "light-green");
        }
      }

      .highlight-light-blue {
        color: map-get($theme-colors, "light-blue");

        a {
          color: map-get($theme-colors, "light-blue");
        }
      }
    }

    strong {
      font-weight: bold;
    }
  }

  .bio-image {
    opacity: 0;
    transform: translateY(10px);
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;

    img {
      max-width: 30%;
      height: auto;
    }

    @media (max-width: 425px) {
      img {
        max-width: 50%;
      }
    }
  }
}
