<section id="bio" class="bio-section my-lg-25 text-left d-flex align-items-center justify-content-center">
  <div class="col-7">
    <div class="bio-content mt-md-7 px-md-5">
      <p>Je suis développeur web freelance, basé à Bordeaux. Je me spécialise dans le développement front-end tout en possédant des compétences solides en back-end.</p><br><br>
      <p>Depuis la création de Wanted Community, une plateforme d'entraide sur Facebook forte de plus de 1,3 million de membres, jusqu'au lancement du Wanted Café, mon parcours a été guidé par un désir de bâtir des espaces qui favorisent la connexion, l'entraide et la collaboration.</p><br><br>
      <p><strong>Aujourd'hui, mon métier est de concevoir des sites web.</strong></p><br><br>
      <p>Mon expertise en développement web s'étend de la conception de maquettes à l'optimisation SEO, en passant par le développement et la maintenance de sites.</p><br><br>
      <p>Je travaille aussi en collaboration avec des agences de communication, je développe des sites qui non seulement répondent aux besoins spécifiques des clients, mais qui sont également robustes sur le plan technique et attrayants visuellement.</p><br><br>
      <p><strong>Vous avez un projet ? Contactez-moi</strong> pour discuter de la manière dont nous pouvons travailler ensemble pour développer une solution web adaptée à vos besoins.</p><br><br>
    </div>
  </div>
</section>
