@import "../../../../styles/_variables.scss";

.bio-section {
  .bio-content {
    p {
      font-size: map-get($font-size, "40");
      font-weight: 300;
      opacity: 0;
      transform: translateY(10px);
      transition: transform 0.8s ease-out, opacity 0.8s ease-out;
      color: map-get($theme-colors, "beige");

      @media (min-width: map-get($breakpoints, "md")) {
        font-size: map-get($font-size, "50");
      }

      @media (min-width: map-get($breakpoints, "lg")) {
        font-size: map-get($font-size, "70");
      }

      .highlight-yellow {
        color: map-get($theme-colors, "yellow");
      }

      .highlight-orange {
        color: map-get($theme-colors, "orange");
      }

      .highlight-light-green {
        color: map-get($theme-colors, "light-green");
      }

      .highlight-light-blue {
        color: map-get($theme-colors, "light-blue");
      }
    }

    strong {
      font-weight: 600;
    }
  }
}