<section id="bio" class="bio-section my-lg-25 mb-15 text-left d-flex align-items-center justify-content-center">
  <div class="col-md-7 col-9">
    <div class="bio-content mt-md-7 px-md-5">
      <p>Je suis <span class="highlight-light-blue">developpeur web freelance</span>, base a Bordeaux, specialise dans le <span class="highlight-yellow">developpement front-end</span> tout en possedant des competences solides en <span class="highlight-yellow">back-end</span>.</p><br><br>
      <p>Depuis la creation de <span class="highlight-orange">Wanted Community</span>, la plateforme d'entraide sur Facebook de plus d'1,3 million de membres, jusqu'au lancement du <span class="highlight-orange">Wanted Cafe</span>, mon parcours a ete guide par <span class="highlight-light-green">un desir de batir des espaces</span> qui favorisent <span class="highlight-light-blue">la connexion, l'entraide et la collaboration</span>.</p><br><br>
      <p><strong>Aujourd'hui, mon metier est de concevoir des sites web pour des entreprises.</strong></p><br><br>
      <p>Mon expertise en developpement web s'etend de la <span class="highlight-light-blue">conception de maquettes a l'optimisation SEO</span>, en passant par <span class="highlight-light-blue">le developpement et la maintenance de sites</span>.</p><br><br>
      <p>Je travaille aussi en <span class="highlight-yellow">collaboration avec des agences de communication</span>, je developpe des sites qui non seulement repondent aux besoins specifiques des clients, mais qui sont egalement robustes sur le plan technique et attrayants visuellement.</p><br><br>
      <p><strong>Vous avez un projet ? Contactez-moi</strong> pour discuter de la maniere dont <span class="highlight-light-green">nous pouvons travailler ensemble pour developper une solution web adaptee a vos besoins</span>.</p><br><br>
    </div>
  </div>
</section>
